---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true avoid_scaling=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- Recruitment Message -->
    <hr style="margin-top: 0.5rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #ccc;">
    <p>
      <span style="color: #c90801cc; font-weight: bold; font-style: italic;">Openings:</span>
      We are always looking for strong candidates to join the lab as <strong>PhD / RA / Interns / Visiting students</strong>. We welcome applicants
      interested in Autonomous Surgical Robotics, Medical Image Analysis, Robotic Learning; Deep Learning, Vision–Language Models (VLMs),
      Vision–Language–Action Models (VLAs), and Multimodal Sensing Fusion. Students with strong self-motivation and a commitment to tackling
      real-world problems are preferred.
    </p>

    <p>If you are an <strong>HKU student</strong> interested in doing research with me, feel free to drop me an email!</p>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: #016fc9ff; font-weight: bold;">{{ site.data[site.active_lang].strings.news }}</a>
      </h2>
      <hr style="margin-top: 0.5rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #ccc;">
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: #016fc9ff; font-weight: bold;">
          {{- site.data[site.active_lang].strings.latest_posts -}}
        </a>
      </h2>
      <hr style="margin-top: 0.5rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #ccc;">
      {% include latest_posts.liquid %}
    {% endif %}

    <div style="margin-bottom: 15px;"></div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: #016fc9ff; font-weight: bold;">
          {{- site.data[site.active_lang].strings.selected_publications -}}
        </a>
        &nbsp;
        <a style="font-size: 0.75em;"> [ </a>
        <a
          href="https://scholar.google.com/citations?user=X41OzcYAAAAJ&hl=en"
          style="font-size: 0.75em; font-weight: bold; color: #1501c9ff;"
          target="_blank"
        >
          Google Scholar
        </a>
        <a style="font-size: 0.75em;">] </a>
      </h2>
      <hr style="margin-top: 0.5rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #ccc;">
      {% include selected_papers.liquid %}
    {% endif %}

    {% if page.page_id == 'about' %}
      <h2><a style="color: #016fc9ff; font-weight: bold;">Professional Activities</a></h2>
      <hr style="margin-top: 0.5rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #ccc;">
      <h3>Editor of journals and conferences</h3>
      <ul>
        <li>
          Guest Editor of the special collection on <strong>“Robot-Assisted Medical Imaging”</strong> in
          <strong><em>IEEE Transactions on Robotics (T-RO)</em></strong>
        </li>
        <li>Associate Editor of <strong>IEEE International Conference on Robotics and Automation (ICRA 2024–2026)</strong></li>
        <li>Area Chair of <strong>International Conference on Information Processing in Computer-Assisted Interventions (IPCAI 2026)</strong></li>
        <li>
          Guest Editor of the special issue <strong>“AI Technologies and Applications in Medical Robots”</strong> in
          <em>CAAI Transactions on Intelligence Technology</em>
        </li>
      </ul>

      <h3>Organizer of international events</h3>
      <ul>
        <li>Main organizer of ICRA 2025 workshop <strong>“3rd RAMI — Robot-Assisted Medical Imaging”</strong></li>
        <li>Main organizer of ICRA 2024 workshop <strong>“2nd RAMI — Robot-Assisted Medical Imaging”</strong></li>
        <li>Main organizer of ICRA 2023 workshop <strong>“1st RAMI — Robot-Assisted Medical Imaging”</strong></li>
        <li>Organizer of the <strong>1st MRC Symposium on Medical Robotics</strong>, Hong Kong, May 2024</li>
      </ul>

      <h3>Reviewer of international funding programs</h3>
      <ul>
        <li>Canada Foundation for Innovation (CFI), 2023</li>
        <li>Austrian Science Fund (FWF)</li>
      </ul>

      <h3>Reviewer of journals and conferences</h3>
      <ul>
        <li>
          Journals: <em>Nature Machine Intelligence</em>, <em>Nature Communications</em>, <em>IEEE Transactions on Robotics (T-RO)</em>,
          <em>IEEE Reviews in Biomedical Engineering</em>, <em>T-ASE</em>, <em>T-MECH</em>, <em>T-IE</em>, <em>RA-L</em>, <em>T-BME</em>,
          <em>T-IM</em>, <em>T-UFFC</em>, <em>T-MRB</em>, <em>IEEE Sensors Journal</em>, <em>IJMRCAS</em>
        </li>
        <li>Conferences: ICRA (2015–2016, 2020–2023); IROS (2017, 2021–2023)</li>
      </ul>
    {% endif %}

    {% if page.page_id == 'about' %}
      <h2><a style="color: #016fc9ff; font-weight: bold;">Invited Talks</a></h2>
      <hr style="margin-top: 0.5rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #ccc;">
      <ul>
        <!-- 2025 -->
        <li><strong>2025.06</strong> — Hamlyn Symposium 2025, <em>Robotic Focused Ultrasound Workshop</em> (hosted by Prof. Arianna Menciassi)</li>
        <li><strong>2025.04</strong> — <em>2nd Hong Kong World Youth Science Conference</em>, Invited Speaker</li>
        <li><strong>2025.03</strong> — UTokyo–TUM Annual Workshop (organized by Prof. Tim Lueth & Prof. Ichiro Sakuma)</li>
        <li><strong>2025.03</strong> — Podcast Interview: <em>“AI-ready Healthcare”</em> (hosted by Prof. Anirban Mukhopadhyay), Spotify</li>
        <!-- 2024 -->
        <li>
          <strong>2024.12</strong> — Department of Mechanical and Aerospace Engineering, <em>The University of Manchester</em> (Prof. Andrew
          Weightman)
        </li>
        <li><strong>2024.11</strong> — Department of Mechanical Engineering, <em>The University of Hong Kong</em></li>
        <li><strong>2024.11</strong> — <em>Visual Intelligence – International Researcher Forum</em></li>
        <li><strong>2024.10</strong> — <em>6th Sino-German Symposium on Intelligent Robots (SGIR)</em>, Frankfurt, Germany</li>
        <li><strong>2024.06</strong> — School of Instrument Science and Engineering, <em>Southeast University</em> (Prof. Lifeng Zhu)</li>
        <li><strong>2024.05</strong> — <em>2nd ICRA RAMI Workshop</em>, Yokohama, Japan (Link)</li>
        <li>
          <strong>2024.05</strong> — Department of Mechanical and Automation Engineering (MAE), <em>CUHK</em> (Prof. Xiangyu Chu & Prof. Samuel Au)
        </li>
        <li><strong>2024.04</strong> — Hamlyn Centre, <em>Imperial College London</em> (Prof. Ferdinando Rodriguez y Baena)</li>
        <li><strong>2024.04</strong> — Department of Bioengineering, <em>Imperial College London</em> (Prof. Mengxing Tang)</li>
        <li><strong>2024.03</strong> — School of Informatics, <em>The University of Edinburgh</em></li>
        <li><strong>2024.04</strong> — Department of Bioengineering, <em>Politecnico di Milano</em> (Prof. Elena De Momi) (Link)</li>
        <!-- 2023 -->
        <li>
          <strong>2023.12</strong> — Biomedical Engineering Department, <em>University of Science and Technology of China</em> (Prof. Kevin Zhou)
        </li>
        <li><strong>2023.11</strong> — <em>The Sino-German Medical Artificial Intelligence Symposium</em> (Prof. Kuangyu Shi) (Link)</li>
        <li>
          <strong>2023.10</strong> — Department of Electrical and Computer Engineering, <em>University of British Columbia</em> (Prof. Tim Salcudean)
        </li>
        <li><strong>2023.08</strong> — Department of Electrical and Computer Engineering, <em>University of Alberta</em> (Prof. Mahdi Tavakoli)</li>
        <li><strong>2023.06</strong> — Shenzhen Institute of Advanced Technology (SIAT), Chinese Academy of Sciences (Prof. Ying Hu)</li>
        <li><strong>2023.06</strong> — <em>1st RAMI Workshop @ ICRA 2023</em>, London (Link)</li>
        <li><strong>2023.06</strong> — The First Affiliated Hospital, <em>Sun Yat-Sen University</em> (Prof. Wei Wang)</li>
        <li><strong>2023.04</strong> — School of Electronic and Electrical Engineering, <em>University of Leeds</em> (Prof. Pietro Valdastri)</li>
        <li><strong>2023.02</strong> — Institute of Medical Informatics, <em>University of Lübeck</em> (online) (Prof. Floris Ernst)</li>
        <li>
          <strong>2023.02</strong> — The Robotics Institute, <em>Carnegie Mellon University</em> (online) (Prof. John Galeotti & Prof. Howie Choset)
        </li>
      </ul>
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div style="margin-top: 2rem; text-align: center;">
          <script
            type="text/javascript"
            id="clustrmaps"
            src="//clustrmaps.com/map_v2.js?d=MTr4mMxVu4jHn2BXt1gjDweKZnh5HY9qz_l0W2P_rTI&cl=ffffff&w=a"
          ></script>
        </div>

        <div class="contact-note">{{ site.data[site.active_lang].strings.contact_note }}</div>
        <!-- News -->
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=false %}
    {% endif %}
  </article>
</div>
